flow.json
[{"id":"ae397898.cacad8","type":"ui_gauge","z":"bfb8e02f.3c32d","name":"","group":"98a06212.3459e","order":2,"width":3,"height":3,"gtype":"gage","title":"Nozzle","label":"C°","format":"{{value}}","min":0,"max":"250","colors":["#828282","#828282","#800000"],"seg1":"","seg2":"200","x":1570,"y":2240,"wires":[]},{"id":"510ec536.bf0b6c","type":"ui_gauge","z":"bfb8e02f.3c32d","name":"","group":"98a06212.3459e","order":3,"width":3,"height":3,"gtype":"gage","title":"Bed","label":"C°","format":"{{value}}","min":0,"max":"60","colors":["#828282","#828282","#813b37"],"seg1":"","seg2":"","x":1570,"y":2280,"wires":[]},{"id":"4329448f.f00d6c","type":"ui_text","z":"bfb8e02f.3c32d","group":"98a06212.3459e","order":1,"width":0,"height":0,"name":"Status","label":"","format":"{{msg.payload}}","layout":"col-center","x":1570,"y":2520,"wires":[]},{"id":"f6373d81.938de","type":"ui_text","z":"bfb8e02f.3c32d","group":"98a06212.3459e","order":1,"width":0,"height":0,"name":"File","label":"Filename","format":"{{msg.payload}}","layout":"col-center","x":1570,"y":2560,"wires":[]},{"id":"c3ba161f.d72e78","type":"ui_gauge","z":"bfb8e02f.3c32d","name":"","group":"98a06212.3459e","order":5,"width":0,"height":0,"gtype":"donut","title":"Progress","label":"%","format":"{{value | number:1}}%","min":0,"max":"100","colors":["#ffffff","#ffffff","#ffffff"],"seg1":"","seg2":"","x":1580,"y":2480,"wires":[]},{"id":"d2eb7cff.3f7f4","type":"change","z":"bfb8e02f.3c32d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":2140,"wires":[["e2209cf3.dc373","235a9f73.98c27"]]},{"id":"e2209cf3.dc373","type":"change","z":"bfb8e02f.3c32d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":2180,"wires":[["f6373d81.938de"]]},{"id":"235a9f73.98c27","type":"function","z":"bfb8e02f.3c32d","name":"create 0","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":2140,"wires":[["c3ba161f.d72e78","e0d384a5.ee29a8","8bff9a7b.1486c8","c8bb8d77.055f9"]]},{"id":"8bff9a7b.1486c8","type":"change","z":"bfb8e02f.3c32d","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Nozzle","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":2240,"wires":[["ae397898.cacad8","a8bcc2ef.4880f"]]},{"id":"c8bb8d77.055f9","type":"change","z":"bfb8e02f.3c32d","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Bed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":2280,"wires":[["510ec536.bf0b6c","5ed1bb85.0c8e34"]]},{"id":"e0d384a5.ee29a8","type":"change","z":"bfb8e02f.3c32d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":2140,"wires":[[]]},{"id":"a8bcc2ef.4880f","type":"switch","z":"bfb8e02f.3c32d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"60","vt":"str"},{"t":"gt","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1570,"y":2340,"wires":[["d5718a00.0f7678"],["50a9396e.d13c08"]]},{"id":"5ed1bb85.0c8e34","type":"switch","z":"bfb8e02f.3c32d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"40","vt":"str"},{"t":"gt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1570,"y":2420,"wires":[["95418439.179d78"],["e0bb0f85.f0c7d"]]},{"id":"d5718a00.0f7678","type":"change","z":"bfb8e02f.3c32d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"COLD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":2320,"wires":[["c26382d7.651"]]},{"id":"50a9396e.d13c08","type":"change","z":"bfb8e02f.3c32d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"HOT!!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":2360,"wires":[["c26382d7.651"]]},{"id":"95418439.179d78","type":"change","z":"bfb8e02f.3c32d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"COLD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":2400,"wires":[["3949c29c.3f523e"]]},{"id":"e0bb0f85.f0c7d","type":"change","z":"bfb8e02f.3c32d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"HOT!!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":2440,"wires":[["3949c29c.3f523e"]]},{"id":"c26382d7.651","type":"ui_text","z":"bfb8e02f.3c32d","group":"98a06212.3459e","order":1,"width":0,"height":0,"name":"Nozzle","label":"Nozzle Status","format":"{{msg.payload}}","layout":"col-center","x":1930,"y":2340,"wires":[]},{"id":"3949c29c.3f523e","type":"ui_text","z":"bfb8e02f.3c32d","group":"98a06212.3459e","order":1,"width":0,"height":0,"name":"Bed","label":"Bed Status","format":"{{msg.payload}}","layout":"col-center","x":1930,"y":2420,"wires":[]},{"id":"5f195c94.af5f54","type":"mqtt in","z":"bfb8e02f.3c32d","name":"","topic":"octoPrint/temperature/tool0","qos":"2","datatype":"auto","broker":"c0d6617c.cc297","x":850,"y":2240,"wires":[["f138cdeb.1f795"]]},{"id":"d2120d26.b4b15","type":"debug","z":"bfb8e02f.3c32d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":2540,"wires":[]},{"id":"35e8c5d8.94545a","type":"function","z":"bfb8e02f.3c32d","name":"","func":"msg = { payload:msg.payload.actual};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":2240,"wires":[["8bff9a7b.1486c8"]]},{"id":"f138cdeb.1f795","type":"json","z":"bfb8e02f.3c32d","name":"","property":"payload","action":"","pretty":false,"x":1050,"y":2240,"wires":[["35e8c5d8.94545a"]]},{"id":"170d425.e4bcbbe","type":"mqtt in","z":"bfb8e02f.3c32d","name":"","topic":"octoPrint/temperature/bed","qos":"2","datatype":"auto","broker":"c0d6617c.cc297","x":850,"y":2280,"wires":[["ed65f55.7809e08"]]},{"id":"ed65f55.7809e08","type":"json","z":"bfb8e02f.3c32d","name":"","property":"payload","action":"","pretty":false,"x":1050,"y":2280,"wires":[["b715ce6d.0abef"]]},{"id":"b715ce6d.0abef","type":"function","z":"bfb8e02f.3c32d","name":"","func":"msg = { payload:msg.payload.actual};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":2280,"wires":[["c8bb8d77.055f9"]]},{"id":"57932a89.b6ae64","type":"mqtt in","z":"bfb8e02f.3c32d","name":"","topic":"octoPrint/hass/printing","qos":"2","datatype":"auto","broker":"c0d6617c.cc297","x":840,"y":2360,"wires":[["76d91238.f03b0c"]]},{"id":"76d91238.f03b0c","type":"json","z":"bfb8e02f.3c32d","name":"","property":"payload","action":"","pretty":false,"x":1050,"y":2360,"wires":[["b033b96.8e3cb48","fb8bfaec.53c158","b22fc169.d87c1"]]},{"id":"b033b96.8e3cb48","type":"function","z":"bfb8e02f.3c32d","name":"","func":"msg = { payload:msg.payload.progress.completion};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":2480,"wires":[["c3ba161f.d72e78","29acd9eb.d418a6"]]},{"id":"fb8bfaec.53c158","type":"function","z":"bfb8e02f.3c32d","name":"","func":"msg = { payload:msg.payload.state.text};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":2520,"wires":[["4329448f.f00d6c"]]},{"id":"b22fc169.d87c1","type":"function","z":"bfb8e02f.3c32d","name":"","func":"msg = { payload:msg.payload.job.file.name};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":2560,"wires":[["f6373d81.938de"]]},{"id":"9ca84196.1a828","type":"switch","z":"bfb8e02f.3c32d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1870,"y":2480,"wires":[["adce0027.bf775"]]},{"id":"3c7499e5.a53016","type":"ui_toast","z":"bfb8e02f.3c32d","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2260,"y":2480,"wires":[]},{"id":"adce0027.bf775","type":"change","z":"bfb8e02f.3c32d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Druck beendet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":2480,"wires":[["3c7499e5.a53016","74939270.82c9fc"]]},{"id":"29acd9eb.d418a6","type":"rbe","z":"bfb8e02f.3c32d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1730,"y":2480,"wires":[["9ca84196.1a828"]]},{"id":"74939270.82c9fc","type":"play audio","z":"bfb8e02f.3c32d","name":"","voice":"0","x":2240,"y":2520,"wires":[]},{"id":"483a11af.4ae44","type":"inject","z":"bfb8e02f.3c32d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1860,"y":2520,"wires":[["adce0027.bf775"]]},{"id":"3c636f19.9a7fb","type":"mqtt in","z":"bfb8e02f.3c32d","name":"","topic":"octoPrint/event/#","qos":"2","datatype":"auto","broker":"c0d6617c.cc297","x":880,"y":2540,"wires":[["d2120d26.b4b15"]]},{"id":"f8f54561.f7e958","type":"mqtt in","z":"bfb8e02f.3c32d","name":"","topic":"octoPrint/event/Shutdown","qos":"2","datatype":"auto","broker":"c0d6617c.cc297","x":850,"y":2100,"wires":[["d2eb7cff.3f7f4","8407d64d.465e58"]]},{"id":"8407d64d.465e58","type":"change","z":"bfb8e02f.3c32d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Offline","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":2100,"wires":[["4329448f.f00d6c"]]},{"id":"d2589970.c76c98","type":"ping","z":"bfb8e02f.3c32d","mode":"timed","name":"","host":"192.168.178.25","timer":"20","inputs":0,"x":740,"y":2020,"wires":[["fa3703a5.3a85d","b5023ef8.8af84"]]},{"id":"fa3703a5.3a85d","type":"debug","z":"bfb8e02f.3c32d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":2020,"wires":[]},{"id":"b5023ef8.8af84","type":"switch","z":"bfb8e02f.3c32d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":2060,"wires":[["8407d64d.465e58","d2eb7cff.3f7f4"]]},{"id":"98a06212.3459e","type":"ui_group","name":"Printer","tab":"54b23112.ceea1","order":7,"disp":true,"width":"6","collapse":false},{"id":"c0d6617c.cc297","type":"mqtt-broker","name":"home","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"54b23112.ceea1","type":"ui_tab","name":"Main","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
